<div class="container">
  <div class="col-md-10 col-md-offset-2">
  <h1><%= t('.title', resource: resource.model_name.human) %></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.label :name, class: "label-login" %><br />
    <%= f.email_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>

    <%= f.label :email, class: "label-login" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
    <% end %>

    <%= f.label :password, class: "label-login" %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    <% if @minimum_password_length %>
      <em><%= t('users.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <br />
    <% end %>

    <%= f.label :password_confirmation, class: "label-login" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>

    <%= f.label :current_password, class: "label-login" %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>

    <div class="actions">
      <%= f.submit t('.update'), class: "btn btn-primary" %>
    </div>
  <% end %>

  <h1><%= t('.cancel_my_account') %></h1>

  <p><%= t('.unhappy') %></p>

  <div class="actions">
    <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: "btn btn-danger" %>
  </div>

  <div><%= link_to t('devise.shared.links.back'), :back %></div>

  </div>
</div>
